/*--------------------------------------------------------------
# 
--------------------------------------------------------------*/
/* 整体布局 */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  color: white;
}
.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.home {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: visible; /* 关键设置：允许伪元素溢出 */
}

.home .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text1 .english {
  font-size: 80px;
  font-family: 'Georgia', 'Times New Roman', serif;
  font-style: italic;
}


.left-text {
  writing-mode: vertical-rl;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  font-family: 'SimKai', 'KaiTi', sans-serif;
  position: absolute;
  left: 90px;
  top: 50%;
  transform: translateY(-50%);
  height: 800px; /* 设置固定高度，增加长度 */
  display: flex; /* 使用 flex 布局 */
  align-items: center; /* 文字垂直居中 */
  justify-content: center; /* 文字水平居中 */
}

.left-text-2 {
  writing-mode: vertical-rl;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  font-family: 'SimKai', 'KaiTi', sans-serif;
  position: absolute;
  left: 1500px;
  top: 50%;
  transform: translateY(-50%);
  height: 800px; /* 设置固定高度，增加长度 */
  display: flex; /* 使用 flex 布局 */
  align-items: center; /* 文字垂直居中 */
  justify-content: center; /* 文字水平居中 */
}

.text1{
  font-size: 24px;
  font-weight: 300;
  font-family: 'SimKai', 'KaiTi', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text1 p {
  font-size: 24px;
  font-weight: 300;
  line-height: 0; /* 推荐倍数写法 */
}
.text1 a {
  color: white;
  text-decoration: none;
}
/* 背景容器 
.about::before {
  content: '';
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: calc(100% + 100px);
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  mask-image: linear-gradient(to bottom, transparent 0, black 100px);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0, black 100px);
  z-index: -1;
}
*/



/* 圆形透明按钮样式 */
.social-icon {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 100%;
  padding: 10px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  width: 15px;
  height: 15px;
}

/* 鼠标悬停效果 */
.social-icon:hover {
  background-color: #fff;
  color: #ff6347;
}

/* 图片样式 */
.social-icon-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* 小型图标 */
.s-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 5px;
}

.s-icon-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
